@page "/"

<PageTitle>Index</PageTitle>

<h1>Witaj na mojej stronie!</h1>

<hr style="height: 10px; width: 10%; background: blue; border: 0px;">
Imie: Kacper 
<hr style="height: 10px; width: 10%; background: blue; border: 0px;">
Nazwisko: Szubert
<hr style="height: 10px; width: 10%; background: blue; border: 0px;">
Numer albumu: 110493
<hr style="height: 10px; width: 10%; background: blue; border: 0px;">

<SurveyPrompt Title="How is Blazor working for you?" />
