@page "/Samochody"

<PageTitle>Samochody</PageTitle>

<h1>Lista (@Samochodzie.Count(Samochod => !Samochod.ZROBIONE))</h1>

    @foreach (var Samochod in Samochodzie)
    {
        <li>
            <input type="checkbox" @bind="Samochod.ZROBIONE" />
            <input @bind="Samochod.TYTUŁ" />
        </li>


    }
<p> Podaj imię i nazwisko poniżej </p>


<input placeholder="Imię i Nazwisko" @bind="newSamochod" />

<button @onclick="AddSamochod" class="btn btn-primary mt 3">Zatwierdź</button>





@code {
    private List<SamochodItem> Samochodzie = new();
    private string newSamochod;

    private void AddSamochod()
    {
        if (!string.IsNullOrWhiteSpace(newSamochod))
        {
            Samochodzie.Add(new SamochodItem { TYTUŁ = newSamochod });
            newSamochod = string.Empty;
        }
    }
}