@page "/Samochody"

<PageTitle>Samochody</PageTitle>

<h1>Lista Samochodow (@Samochodzie.Count(Samochod => !Samochod.CZYUDANE))</h1>

    @foreach (var Samochod in Samochodzie)
    {
        <li>
            <input type="checkbox" @bind="Samochod.CZYUDANE" />
            <input @bind="Samochod.ZAZNACZENIE" />
            <hr>
        </li>


    }
<p> Podaj Marke i Model pojazdu </p>


<input placeholder="Marka i Model" @bind="newSamochod" />

<button @onclick="AddSamochod" class="btn btn-primary mt 2">Zatwierdź</button>





@code {
    private List<SamochodItem> Samochodzie = new();
    private string newSamochod;

    private void AddSamochod()
    {
        if (!string.IsNullOrWhiteSpace(newSamochod))
        {
            Samochodzie.Add(new SamochodItem { ZAZNACZENIE = newSamochod });
            newSamochod = string.Empty;
        }
    }
}